:root {
  --color-primary: hsl(257, 40%, 49%);
  --color-secondary: #fff; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 18.75em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: var(--color-primary); }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-secondary); }

.heading {
  font-size: 4.1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: inherit;
  color: inherit; }
  @media only screen and (max-width: 56.25em) {
    .heading {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading {
      font-size: 3rem; } }

.para {
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit; }

.btn, .btn:link, .btn:visited {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: none;
  border-radius: 4rem;
  cursor: pointer;
  transition: transform .2s;
  padding: 1rem 5rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5); }

.btn:hover {
  transform: translateY(-3px); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.header {
  height: 100vh;
  padding: 5rem;
  width: 100%;
  background-image: url("../images/bg-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top; }
  @media only screen and (max-width: 56.25em) {
    .header {
      background-image: url("../images/bg-mobile.svg"); } }
  .header__logo {
    margin-bottom: 5rem;
    animation: moveInLeft 1s ease-in; }
  .header__logo-img {
    height: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .header__logo-img {
        height: 4rem; } }

.container {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  .container__item {
    flex: 0 1 48%; }
  .container__item--image {
    animation: moveInLeft 1s ease-in; }
  .container__item--text {
    max-width: 53rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    animation: moveInRight 1s ease-in; }
    .container__item--text > :not(:last-child) {
      margin-bottom: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .container__item--text {
        align-items: center;
        text-align: center;
        margin: 5rem 0; } }
    @media only screen and (max-width: 37.5em) {
      .container__item--text {
        max-width: 44rem; } }
  .container__img {
    display: block;
    max-width: 100%; }

.social-icons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }
  @media only screen and (max-width: 56.25em) {
    .social-icons {
      justify-content: center;
      align-items: center; } }
  .social-icons > * {
    width: 4rem;
    padding: 1rem;
    border: 1px solid var(--color-secondary);
    border-radius: 50%; }
  .social-icons > :not(:last-child) {
    margin-right: 2rem; }

.attribution {
  margin-top: 5rem;
  text-align: center;
  font-size: 1.3rem;
  color: var(--color-secondary); }
