// header
.header {
  height: 100vh;
  padding: 5rem;
  width: 100%;
  background-image: url("../images/bg-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;

  @include respond(tab-port) {
    background-image: url("../images/bg-mobile.svg");
  }

  &__logo {
    margin-bottom: 5rem;
    animation: moveInLeft 1s ease-in;
  }

  &__logo-img {
    height: 6rem;

    @include respond(tab-port) {
      height: 4rem;
    }
  }
}
//flex container
.container {
  display: flex;
  justify-content: space-between;

  @include respond(tab-port) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__item {
    flex: 0 1 48%;
  }

  &__item--image {
    animation: moveInLeft 1s ease-in;
  }

  &__item--text {
    max-width: 53rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    animation: moveInRight 1s ease-in;

    & > :not(:last-child) {
      margin-bottom: 2rem;
    }

    @include respond(tab-port) {
      align-items: center;
      text-align: center;
      margin: 5rem 0;
    }

    @include respond(phone-lg) {
      max-width: 44rem;
    }
  }

  &__img {
    display: block;
    max-width: 100%;
  }
}

//social-icons
.social-icons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  @include respond(tab-port) {
    justify-content: center;
    align-items: center;
  }

  & > * {
    width: 4rem;
    padding: 1rem;
    border: 1px solid var(--color-secondary);
    border-radius: 50%;
  }

  & > :not(:last-child) {
    margin-right: 2rem;
  }
}

//attribution frontendmentor
.attribution {
  margin-top: 5rem;
  text-align: center;
  font-size: 1.3rem;
  color: var(--color-secondary);
}
